// app global css
body {
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  height 100vh
  max-height 100vh
  overflow hidden
  position fixed
  top 0

  & .dragger {
    min-width .15em
    height 100vh
    float right
    cursor col-resize
    background-color $grey-4
    border $header-border
  }

  & button {
    cursor pointer
  }
}

#drawer {
  min-width 250px
  max-width 250px
  height 100vh
  overflow-y auto
  display flex
  background rgb(32,39,44)

  & .q-list {
    height 100vh
    flex 10
    display inline-block

    & .q-focusablehover {
      background #00000020
    }
  }

  & .q-item__label--header {
    padding 1em .7em
  }

  & .q-focus-helper {
    background transparent

    &hover {
      background rgba(0,0,0,1)!important
    }

    &active {
      background rgba(0,0,0,1)
    }

    &after {
      background rgba(0,0,0,1)
      opacity 1
    }
  }
}

.q-layout {
  display flex
}

$header-border = 1px solid $grey-4

#main {
  min-width 295px
  max-width 500px

  .list {
    display flex
    border 0
  }

  .q-list {
    height 100%
    width 100%
    overflow-y auto

    & .q-item-active {
      background-color rgba(0,0,0,.08)
    }

    & .q-item-hover {
      background-color rgba(0,0,0,.04)
    }
  }

  #emptyList {
    display table
    text-align center
    height 90%

    & span {
      font-size 1.2em
      width 100vw
      display table-cell
      vertical-align middle
    }
  }

  #search-field {
    border $header-border
    border-radius 5px
    overflow hidden
    padding .1em .5em
    margin-right 1em
    background-color white

  & input[type=text] {
    width 85%
  }

    & * {
      border none
      outline none
      color black
      background-color white
    }
  }
}

#markdown {
  flex 1
  -webkit-touch-callout text
  -webkit-user-select text
  -khtml-user-select text
  -moz-user-select text
  -ms-user-select text
  user-select text

  & * ::selection {
    background-color #fecc75
  }
}

#main, #markdown {

  & .q-toolbar {
    min-height 5vh
    border-bottom $header-border

    &active {
      background-color $grey-3
    }
  }

    & i {
      font-size 1.2em
      justify-content center
      align-items center
    }

    .btn-toolbar {
      background-color white
      border $header-border
      border-radius 5px
      padding .1em .5em
      outline none
      transition .2s ease-in-out

      &hover {
        cursor pointer
      }

      &active {
        background-color $grey-5
      }

    }

  .q-bar {
    padding 0 1em
    background-color white
    color #908484
    max-height 1.5em
    border-bottom $header-border

    &hover {
      cursor pointer
    }
    
    & div {
      font-size .8em
    }

    & .q-icon {
      transition .1s ease-in-out
    }
  }
}
