/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  background-color $grey-2!important
  height: 93vh!important;
  color: $grey-7!important;

  &-scroll {
    height: 93vh!important;
  }
}
