#viewer {

  #md-editor {
    font-family: monospace
    font-size: 1.3em;
  }

  & #editor {
    padding: 1em
    outline: none

    & * {
      transition .1s ease-in-out
      color #333
    }

// Headers

    h1, h2, h3, h4, h5, h6 {
      font-weight 500
      margin-top 0px
      line-height 1.5em
    }

    & h1 {
      font-size 2.5rem
    }

    & h2 {
      font-size 2rem
    }

    & h3 {
      font-size 1.75rem
    }

    & h4 {
      font-size 1.5rem
    }

    & h5 {
      font-size 1.25rem
    }

    & h6 {
      font-size 1rem
    }
  }
}