@font-face
  font-family hack
  src url(./fonts/Hack-Regular.ttf)

#viewer {

  .hack-font {
    font-family hack
    font-size 1.3em
  }

  & #container {
    font-size 1em
    font-weight 300
    height 100%
    word-break break-all

    // Headers
    h1, h2, h3, h4, h5, h6 {
      font-weight 500
      margin-top 0px
    }

    & h1 {
      font-size 2.5rem
    }

    & h2 {
      font-size 2rem
    }

    & h3 {
      font-size 1.75rem
    }

    & h4 {
      font-size 1.5rem
    }

    & h5 {
      font-size 1.25rem
    }

    & h6 {
      font-size 1rem
    }
  
    & #editor {
      padding-left 1em
      background-color #F6F6F6
      color #555
      padding-top 1em
      outline none
      width 100%
      height 100%
      box-sizing border-box
      border none
      resize none
      max-height 95vh

      & * {
        transition .1s ease-in-out
        color #333
      }
    }

    & #viewer {
      padding-left 1em

      & * {
        max-width 100%
      }
    }
  }
}