@import './functions.styl'


// Colors
$primary   = #f6a637
$secondary = #20272c
$accent    = #f7aca2

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037


// Fonts
$font-hack = hack


no-user-select()
  vendor('user-select', none)

// Border
$grey-border = 1px solid $grey-4

