.fade {
  &-enter-active{
    animation enterFromTop .2s
  }

  &-leave-active {
    animation enterFromTop .2s reverse
  }
}

@keyframes enterFromTop {
  from {
    transform translate(-50%, -1em) scale(1, 0)
    opacity 0
  }
  to {
    opacity 1
  }
}
